:root {
  --primary-color: rgb(186, 205, 176);
  --secondary-color: rgb(243, 232, 238);
  --tertiary-color: rgb(114, 155, 121);
  --quaternary-color: rgb(71, 91, 99);
  --active-link: rgb(46, 44, 47)
}

* {
  background-color: (var(--primary-color));
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

h3 {
  text-decoration: none;
  color: var(--secondary-color);
}

p {
  text-decoration: none;
  color: var(--tertiary-color);
}

/* header styling */

header {
  background: var(--tertiary-color);
  color: var(--secondary-color);
  background-image: url(./assets/images/background.jpg);
  
}

header h1 {
  font-size: 3vw;
  color: var(--secondary-color);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

header h4 {
  font-size: 1.5vw;
  color: var(--secondary-color);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

header a {
  font-size: 2vw;
  padding: 5px;
  text-decoration: none;
  color: var(--secondary-color);
}

header a:hover {
  color: var(--quaternary-color)
}

.active {
  color: var(--active-link);
}

/* body styling */

h2 {
  font-size: 45px;
}

/* about me styling */

.about-me{
  margin: auto 50px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.about-me h2 {
  text-align: right;
}

.about-me div {
  margin: 50px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 50%;
}

.about-me img {
  max-width: 200px;
  max-height: 200px;
}

.section-title {
  border-bottom: 2px solid var(--secondary-color);
  text-align: center;
}

.section-title h2 {
  font-size: 2.5vw;
}

#profile-photo {
  padding: 150px;
  background-image: url(./assets/images/me.jpg);
  background-size: contain;
}

/* Projects Styling */
#run-buddy {
  background-image: url(./assets/images/runbuddy.png);
  background-size: contain;
}

#taskinator {
  background-image: url(./assets/images/taskinator.png);
  background-size: contain;
}

#battle-robot {
  background-image: url(./assets/images/robotglad.jpg);
  background-size: contain;
}

#workin-hard {
  background-image: url(./assets/images/workinhard.png);
  background-size: contain;
}

#showbiz-baby {
  background-image: url(./assets/images/ShowbizBabyLogo.png);
  background-size: contain;
}

#social-strength {
  background-image: url(./assets/images/socialstrength.jpg);
  background-size: contain;
}

.my-projects div {
  margin: 50px 50px;
  vertical-align: middle;
  align-items: flex-end;
  justify-content: space-evenly;
}

.projects {
  display: flex;
  flex-wrap: wrap-reverse;
  flex: 2 0 500px;
  justify-content: center;
}

.projects a {
  display: flex;
  justify-content: space-evenly;
  flex: 2 1;
}

.project {
  border: 3px solid var(--secondary-color);
  border-radius: 10px;
  position: relative;
  min-height: 200px;
  min-width: 325px;
  max-width: 600px;
  flex-grow: 2;
}

.project-name {
  background-color: var(--tertiary-color);
  margin-left: 0px;
  border: 0.5px solid var(--secondary-color);
  border-radius: 10px;
  margin-top: 200px;
  margin-bottom: 0px;
  width: 100%;
}

.project-name p {
  color: var(--secondary-color);
}

.project-name h3, .project-name p {
  margin-left: 5px;
}

.project-name a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 1.25vw;
  padding-bottom: 5px;
}

.project-name a h3:hover {
  color: var(--active-link);
}

.project-name img:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Contact Me styling */

.contact-me {
  margin: auto 50px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  border-bottom: 3px solid var(--secondary-color);
}
input, textarea {
  background-color: var(--secondary-color);
}

.contact-me div {
  margin: 50px 50px;
  display: flex;
  flex-wrap: wrap;
  vertical-align: middle;
  align-items: center;
  justify-content: space-evenly;
}

.contact-info div {
  display: flex;
  justify-content: space-evenly;
}

.contact-info a {
  text-decoration: none;
  color: var(--secondary-color);
}

#contact-form button {
  padding: 5px;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
}

#resume a{
  text-decoration: none;
  color: var(--quaternary-color);
}

ul {
  list-style: none;
}

/* footer styling */

footer {
  margin: 20px 50px;
}

footer p {
  text-align: center;
}

footer a {
  padding: 5px;
}

footer img:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 980px) {
  header {
      justify-content: center;
      position: relative;
  }

  header h1, h4 {
      width: 100%;
      text-align: center;
  }

  header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
  }

  header nav ul li a {
      font-size: 30px;
  }

  .jumbotron h2 {
      font-size: 30px;
  }

  .about-me {
      justify-content: center;
      align-items: center;
  }

  .about-me div {
      max-width: 100%;
  }

  .about p {
      font-size: 25px;
      text-align: center;
  }

  .section-title {
      border-right: none;
      border-bottom: 2px solid var(--secondary-color);
  }

  .section-title h2 {
      text-align: center;
  }

  .about {
      flex-direction:column;
      justify-content: center;
      align-items: center;
      width: 100%;
  }

  .my-projects {
      justify-content: center;
      align-items: center;
  }


}

@media screen and (max-width: 768px) {
  header nav ul li a {
      font-size: 30px;
  }

  .about-me, .my-projects, .contact-me {
      margin: 0;
      padding-left: 10px;
      padding-right: 10px;
      width: 100%;
  }

  section {
      width: 100%;
  }
}

@media screen and (max-width: 575px) {
  header nav ul li a {
      font-size: 20px;
  }
}